/.gradle/
/.idea/
*.iml
/app/build/
/build/
/gradle/
gradlew
gradlew.bat
local.properties
/moduleAppdelegate/build/
/moduleDemo/build/
/moduleRefresh/build/
/moduleScrollPicture/build/
/moduleSyncInterface/build/
